<div class="jumbotron">
    <h1>A Game of Faces</h1>
    <p class="lead">
        <h2>A project by John Lien</h2>
    <p><a class="btn btn-default" href="https://github.com/john-lien/A-Game-Of-Faces">Visit the repo! &raquo;</a></p>
    </p>
</div>
